// Fuente - Familias
$font-primary: 'Inter', sans-serif;
$font-heading: 'Playfair Display', serif;

// Tamaños - rem
$rem-size-xs: 0.75rem;   // 12px
$rem-size-sm: 0.875rem;  // 14px
$rem-size-md: 1rem;      // 16px
$rem-size-lg: 1.25rem;   // 20px
$rem-size-xl: 1.5rem;    // 24px
$rem-size-2xl: 2rem;     // 32px
$rem-size-3xl: 3rem;     // 48px

// Fuente - Pesos
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

//Paleta de colores
$color-primary: #BA342E;    //BRAND
$color-secondary: #2A2A2A;  //ESTRUCTURA
$text-primary: #1E1E1E;     //TEXTOS
$text-secondary: #6B7280;   //TEXTOS
$white: #FFFFFF;            //FONDOS, TEXTOS
$pale-white: #F7F7F7;       //FONDOS, TEXTOS
$bg-dark: #0F172A;          //FONDOS
$border-color: #E5E7EB;     //BORDES
$color-success: #2E8B57;    //ESTADOS