@use '../base/variables' as *;

.cta {
    background-color: $color-primary;
    color: $white;
    padding: 4rem 1.25rem;

    h2 {
        font-family: $font-heading;
        font-size: 2rem;
        color: $white;
        margin-bottom: 1rem;
    }

    p {
        color: $white;
        margin-bottom: 2rem;
        max-width: 600px;
        margin: 0 auto 2rem auto;
    }
}

.cta-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.cta .button-primary {
    background-color: $white;
    color: $color-primary;
}

.cta .button-primary:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}