@use '../base/variables' as *;

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

.hero-content {
    position: relative;
    z-index: 2;

    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    margin: auto;
    max-width: 800px;
    padding: 0 40px;

    color: $pale-white;
    text-align: center;

    h3{
        font-size: 1rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    h1{
        margin-bottom: 20px;
        font-family: $font-heading;
        font-size: 3rem;
        line-height: 1.2;
        text-wrap: balance;     //¡No soportado en todos los navegadores!
    }

    p{
        font-size: 1.25rem;
        opacity: 0.9;
        margin-bottom: 30px;
        color: $pale-white;
    }
}

.button-primary {
    display: inline-block;
    margin-top: 20px;

    background-color: $color-primary;
    color: $pale-white;
    border: none;

    padding: 14px 30px;
    border-radius: 999px;

    font-size: 1rem;
    font-weight: $font-medium;
    text-decoration: none;

    cursor: pointer;

    transition: all 0.25s ease-in-out;
    
    width: fit-content;
}

.button-primary:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}