@use '../base/variables' as *;

.services {
    background-color: $white;
    padding: 3rem 1.25rem 1rem;
}

.service-block {
    display: flex;
    align-items: center;
    gap: 3rem;

    max-width: 1100px;
    margin: 0 auto 4rem auto;
}

.service-block.reverse {
    flex-direction: row-reverse;
    text-align: right;
}

.service-image {
    flex: 1;
    height: 300px;
    aspect-ratio: 16/10;
    border-radius: 10px;
    overflow: hidden;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.95);
        display: block;
    }
}

.service-text {
    flex: 1;
}

.services-end {
    max-width: 700px;
    margin: 4rem auto;

    h2 {
        font-family: $font-heading;
        font-size: 2rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    p {
        color: $text-secondary;
        text-align: justify;
    }
}