@use '../base/variables' as *;

.stats {
    background-color: $white;
    padding: 5rem $rem-size-xl;
}

.stats-container {
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.stat {
    flex: 1;

    h2 {
        font-size: $rem-size-2xl;
        font-weight: $font-bold;
        color: $color-primary;
        margin-bottom: 10px;
    }

    .stat p {
        font-size: $rem-size-sm;
        color: $text-secondary;
    }

}

.stat:not(:last-child) {
    border-right: 1px solid $border-color;
}
